<%- include('html-header') %>

<%- include('header') %>

<%- include('alert') %>

<main>

    <h1 class="text-center text-secondary display-1 d-none d-md-block m-5">Profil</h1>
    <h1 class="text-center text-secondary d-block d-md-none m-5">Profil</h1>

    <h1 class="text-center text-secondary display-4 d-none d-md-block m-5">Adataim</h1>
    <h4 class="text-center text-secondary d-block d-md-none m-5">Adataim</h4>

    <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center p-0">
        <div class="row">
            <h3 class="col-3 text-secondary d-none d-md-block p-0">Név</h3>
            <p class="col-3 text-secondary d-block d-md-none p-0">Név</p>
            <h3 class="col-9 text-secondary d-none d-md-block p-0"><%= user.name %></h3>
            <p class="col-9 text-secondary d-block d-md-none p-0"><%= user.name %></p>
            <h3 class="col-3 text-secondary d-none d-md-block p-0">Email</h3>
            <p class="col-3 text-secondary d-block d-md-none p-0">Email</p>
            <h3 class="col-9 text-secondary d-none d-md-block p-0"><%= user.email %></h3>
            <p class="col-9 text-secondary d-block d-md-none p-0"><%= user.email %></p>
        </div>
    </div>

    <h1 class="text-center text-secondary display-4 d-none d-md-block m-5">Receptjeim</h1>
    <h4 class="text-center text-secondary d-block d-md-none m-5">Receptjeim</h4>

    <div class="row text-center">

        <% recipies.forEach((recipie) => { %>
            <% if (recipie.author.toString() === user._id) { %>
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header text-center text-secondary">
                            <h1 class="d-none d-lg-block"><%= recipie.name %></h1>
                            <h3 class="d-block d-lg-none"><%= recipie.name %></h3>
                        </div>
                        <img class="card-img" src=<%= `/images/${recipie.id}.jpg` %> >
                        <div class="card-body text-center">
                            <a class="btn btn-lg btn-outline-secondary" href=<%= `/recipies/${recipie.id}` %> >Megnézem</a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>

    </div>

</main>

<%- include('html-footer') %>