<%- include('html-header') %>

<%- include('header') %>

<%- include('alert') %>

<main>

    <h1 class="text-center text-secondary display-1 d-none d-md-block m-5"><%= recipie.name %></h1>
    <h1 class="text-center text-secondary d-block d-md-none m-5"><%= recipie.name %></h1>

    <div class="row m-0">

        <% if (authorized) { %>
            <div class="col-12 bg-dark text-light my-4 py-3 px-5">
                <div class="row text-center">
                    <div class="col-6">
                        <a class="btn btn-block btn-info rounded-0" href=<%= `/recipies/${recipie.id}/edit` %> >Edit</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-block btn-danger rounded-0" href=<%= `/recipies/${recipie.id}/delete` %>>Delete</a>
                    </div>
                </div>
            </div>
        <% } %>

        <img class="img-fluid d-none d-md-block p-0" src="https://lorempixel.com/1920/480/food/9/">

        <div class="col-12 bg-dark text-light my-4 p-3">
            <div class="row text-center">
                <span class="col-6 h4">Elkészítési idő 15 perc</span>
                <span class="col-6 h4">Könnyű elkészíteni</span>
            </div>
        </div>

        <div class="col-12 col-md-8 offset-0 offset-md-2 text-secondary my-4 p-3">
            <p><%= recipie.description %></p>
            <p>Oat cake I love topping pie tiramisu apple pie muffin bear claw pudding. Brownie soufflé halvah cotton candy macaroon. Dessert cake chocolate toffee ice cream chocolate bar gummies. Jelly cupcake caramels sugar plum dragée macaroon I love. Soufflé gummi bears brownie sesame snaps macaroon bonbon tart chocolate cake danish. I love bonbon tiramisu bear claw. Gingerbread tart caramels I love croissant. Sweet tootsie roll bear claw ice cream halvah sesame snaps. Pastry caramels marshmallow tart biscuit. I love lemon drops candy topping jelly jujubes fruitcake. Cupcake pudding chupa chups cotton candy fruitcake candy canes. Marshmallow dessert cake biscuit.</p>
            <p>Halvah gingerbread jelly tiramisu marshmallow. Sweet danish muffin candy canes marzipan. Donut chocolate bar cake. Halvah danish danish danish chocolate bar liquorice gummi bears croissant gummies. Apple pie I love jujubes. Marzipan liquorice pastry. Chocolate bar halvah powder marzipan I love jelly beans jelly-o cake powder. Lollipop bonbon donut donut pastry. Bear claw icing cake chocolate bar halvah lollipop toffee sesame snaps. Jelly lemon drops candy canes. Dessert bear claw chocolate dragée. Dragée pie candy canes tootsie roll I love lollipop donut muffin. I love pie pie cotton candy toffee carrot cake.</p>
            <p>Macaroon jelly-o caramels. Biscuit tootsie roll ice cream sesame snaps oat cake halvah cake jujubes fruitcake. Gummi bears sugar plum danish macaroon. Gummi bears croissant chocolate cake topping chocolate bar. Cheesecake carrot cake I love danish. I love gingerbread pastry tart cake biscuit sweet I love chocolate cake. Marshmallow marzipan I love marshmallow powder tootsie roll chocolate liquorice carrot cake. Ice cream I love chocolate soufflé. I love pie icing. Soufflé topping candy. Gummi bears pie brownie chocolate cake tootsie roll gummies I love chupa chups I love. Candy canes tootsie roll cupcake lemon drops caramels.</p>
        </div>

        <%- include('rating') %>

    </div>

</main>

<%- include('html-footer') %>