<%- include('html-header') %>

<%- include('header') %>

<%- include('alert') %>

<main>

    <a class="btn btn-outline-secondary float-left d-none d-md-block" href="/"><i class="fa fa-angle-left fa-3x"></i></a>

    <h1 class="text-center display-1 d-none d-md-block text-secondary m-5">Recept módosítása</h1>
    <h1 class="text-center d-block d-md-none text-secondary m-5">Recept módosítása</h1>

    <div class="col-10 offset-1 col-md-4 offset-md-4">
        <form action=<%= `/recipies/${recipie.id}/edit` %> method="post">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Recept neve"
                       value=<%= recipie.name %> required autofocus>
            </div>
            <div class="form-group">
                <label for="time" class="text-secondary">Elkészítés ideje:</label>
                <select class="form-control form-control-lg" id="time" name="time" required>
                    <option>15 perc</option>
                    <option>30 perc</option>
                    <option>45 perc</option>
                    <option>1 óra</option>
                    <option>1.5 óra</option>
                    <option>2 óra</option>
                </select>
            </div>
            <div class="form-group">
                <label for="difficulty" class="text-secondary">Nehézség:</label>
                <select class="form-control form-control-lg" id="difficulty" name="difficulty" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control form-control-lg" id="description" name="description" rows="8"
                          placeholder="A recept elkészítésének leírása..." required><%= recipie.description %>
                </textarea>
            </div>
            <div class="form-group">
                <input type="hidden" id="id" name="id" value=<%= recipie.id %> required autofocus>
            </div>
            <button type="submit" class="btn btn-block btn-outline-secondary mb-5">Frissítés</button>
        </form>
    </div>

</main>

<%- include('html-footer') %>